body {
  /*background: green;*/

}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 2rem;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  max-width: 25%;
  border-radius: 50%;
}

.popular-rank {
  font-size: 20px;
  margin: 2rem;
}

.nav {
  display: flex;
}

.active {
  font-weight: bold;
}
